$borderColor: #CCC;
$borderWidth: 5px;

@mixin dialogBox($border-color) {
  border: 1px solid $border-color;
  padding: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  font-size: .75em;
}

@mixin topBox($border-width) {
  border: $border-width solid green;
  padding: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  font-size: .75em;
}

.foo {
  @@include topBox ($borderWidth);
  background: blue;
  border-color: $borderColor;
  p {
    color: red;
    font-size: 2em;
    font-weight: bold;
    font-size: 25/16 * 1em;
  }
}



.main {
  @include dialogBox(red);
}
